<%= link_to "Registrar uma promoção", new_promotion_path %> <br>
<%=link_to 'Voltar', root_path%>

<%if @promotions.empty? %>
    <p>Nenhuma promoção cadastrada</p>
<%else%>
    <dl>
    <% @promotions.each do |promotion|%>
        <dt> <%= link_to promotion.name, promotion_path(promotion)%> </dt>
        <dd> <%=promotion.description%> </dd>
        <dd> <%=number_to_percentage promotion.discount_rate, precision: 2, separator: ','%> </dd>
        <br>
        <br>
    <%end%>
    </dl>
<%end%>

