<%= link_to 'Registrar uma promoção', new_promotion_path %>
<%= link_to 'Voltar', root_path %>

<%= render 'search' %>

<% if @promotions.empty? %>
  <div class="warning"> Nenhuma promoção com este nome foi encontrado. </div>
<% else %>
  <% @promotions.each do |promotion| %>
  <div>
    <dl>
      <dt> Nome: </dt>
      <%= link_to promotion.name, promotion_path(promotion) %>
      <dt> Descrição: </dt>
      <%= promotion.description %>
      <dt> Desconto: </dt>
      <%= number_to_percentage promotion.discount_rate, precision: 2, separator: ',' %>
    </dl>
  </div>
  <% end %>
<% end %>