<%= link_to 'Voltar', promotions_path %>

<dl>
  <dt> Nome: </dt>
  <%= @promotion.name %> </h1>
  <dt> Descrição: </dt>
  <%= @promotion.description %>
  <dt> Desconto: </dt>
  <%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ',' %>
  <dt> Código </dt>
  <%= @promotion.code %>
  <dt> Data de expiração: </dt>
  <%= @promotion.expiration_date.strftime("%d/%-m/%Y") %>
  <dt> Quantidade de cupons: </dt>
  <%= @promotion.coupon_quantity %>
  <dt> Status: </dt>
  <%= @promotion.approver.email %>
</dl>

<%= link_to 'Aprovar', approve_promotion_path, method: :patch %>
<%= link_to 'Excluir promoção', promotion_path(@promotion), method: :delete %>
<%= link_to 'Editar promoção', edit_promotion_path(@promotion) %>
<%= link_to 'Gerar cupon', generate_coupon_promotion_path(@promotion), method: :post %>

<% @promotion.coupon.each do |coupon| %>
    <div id="<%= coupon.code %>">
      <%= coupon.code %>
      (<%= t(coupon.status) %>)
    <% if coupon.active? %>
        <%= link_to 'Inativar', inactivate_coupon_path(coupon), method: :post %>
    <% else %>
      <%= link_to 'Ativar', active_coupon_path(coupon), method: :post %>
    <% end %>
    </div>
<% end %>