<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<%=link_to 'Voltar', promotions_path%> <br>

<dl>
<dd><%='Promoção de ' + @promotion.name%></dd>
<dd><span>Cadastrada por: <%= @promotion.user.email %></span></dd>
<dt>Porcentagem de desconto</dt>
<dd><%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ',' %></dd>
<dt>Código da promoção</dt>
<dd><%= @promotion.code%></dd>
<dt>Descrição</dt>
<dd><%= @promotion.description%></dd>
<dt>Data de Expiração</dt>
<dd><%= I18n.localize @promotion.expiration_date%></dd>
<dt>Quanditade de Cupons</dt>
<dd><%= @promotion.coupon_quantity %></dd>
<% if @promotion.approved? %>
  <dt> Status: </dt> <dd> Aprovada </dd>
<% end %>
</dl>

<% if current_user != @promotion.user%>
  <%= link_to 'Aprovar Promoção', approve_promotion_path, method: :patch %>
<% end %>


<%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post%>
<%= link_to 'Editar', edit_promotion_path %>
<%= link_to 'Deletar', promotion_path(@promotion),
                      method: :delete,
                      data: { confirm: 'Você tem certeza que deseja deletar essa promoção?'} %>

<% @promotion.coupons.each do |coupon| %>
  <div id="coupon-<%= coupon.id %>">
    <span><%= coupon.code %> (<%= t(".#{coupon.status}") %>)</span>
    <% if coupon.active? %>
      <%= link_to 'Inativar', inactivate_coupon_path(coupon), method: :post %>
    <% end %>
  </div>
<% end %>
