<!DOCTYPE html>
<html>
  <head>
    <title>PromotionSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if admin_signed_in? %>
      <%= current_admin.email %>
      <%= link_to 'Sair', destroy_admin_session_path %>
    <% else %>
      <%= link_to 'Entrar', new_admin_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
